
.vscode/launch.json
.vscode/tasks.json
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/project.assets.json
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/ref/SkuleAdmDemoWeb.dll
bin/Debug/net5.0/SkuleAdmDemoWeb.deps.json
bin/Debug/net5.0/SkuleAdmDemoWeb.dll
bin/Debug/net5.0/SkuleAdmDemoWeb.exe
bin/Debug/net5.0/SkuleAdmDemoWeb.pdb
bin/Debug/net5.0/SkuleAdmDemoWeb.runtimeconfig.dev.json
bin/Debug/net5.0/SkuleAdmDemoWeb.runtimeconfig.json
bin/Debug/net5.0/SkuleAdmDemoWeb.Views.dll
bin/Debug/net5.0/SkuleAdmDemoWeb.Views.pdb
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/ref/SkuleAdmDemoWeb.dll
obj/Debug/net5.0/SkuleAdmDemoWeb.assets.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.CopyComplete
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/Debug/net5.0/SkuleAdmDemoWeb.dll
obj/Debug/net5.0/SkuleAdmDemoWeb.genruntimeconfig.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.pdb
obj/Debug/net5.0/SkuleAdmDemoWeb.RazorCoreGenerate.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.RazorTargetAssemblyInfo.cs
obj/Debug/net5.0/SkuleAdmDemoWeb.TagHelpers.input.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.TagHelpers.output.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.Views.dll
obj/Debug/net5.0/SkuleAdmDemoWeb.Views.pdb
obj/Debug/net5.0/staticwebassets/SkuleAdmDemoWeb.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/SkuleAdmDemoWeb.StaticWebAssets.xml
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/Debug/net5.0/SkuleAdmDemoWeb.assets.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/Debug/net5.0/SkuleAdmDemoWeb.assets.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/Debug/net5.0/SkuleAdmDemoWeb.assets.cache
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
obj/Debug/net5.0/SkuleAdmDemoWeb.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
obj/SkuleAdmDemoWeb.csproj.nuget.dgspec.json
obj/SkuleAdmDemoWeb.csproj.nuget.g.props
